@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;    
    color: #444547;
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover { 
    text-decoration: underline;
}

body > header {
    background-color: #333333;
    height: 6rem;
    padding: 1rem 0;
}

body > header > .center {
    max-width: 99rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}

body > header a.logo {
    display: inline-block;
    height: 4rem;
    line-height: 4rem;
}

body > header a.logo img {
    height: 4rem;
}

body > header form {
    display: flex;
    float: right;

    height: 3rem;
    padding-top: 0.5rem;
}

body > header form input, body > header form button {
    height: 3rem;
    margin: 0;
    padding: 0.5rem;
    border: none;
    font-size: 1.6rem;
    border-radius: 0;
}

body > header form input[type="text"] {
    transition: width .2s,opacity .4s;
    width: 14rem;
}

@media (min-width: 320px) {
    body > header form input[type="text"] {
        width: 20rem;
    }
} 

body > header form input::placeholder {
    color: #c2c2c2;
}

body > header form button {
    background-color: #e2e2e2;
}

body > header form img {
    height: 1.8rem;
    padding: 0.2rem;
}

main {
    min-height: calc(100% - 6rem);

    margin-bottom: -7rem; 
}

main:after {
    height: 7rem;
    content: "";
    display: block;
}

body > footer {
    background-color: #333333;
    height: 7rem;
    overflow: hidden;
}

main .center, body > footer > .center {
    max-width: 99rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: 0 auto;
}

main > header {
    background-color: #00A0EA;
    color: white;
    padding: 3rem 0;
}

main > header h1 {
    font-size: 4.8rem;
    padding-bottom: 2rem;
}

main > header p {
    font-size: 2.2rem;
}

section.table-of-contents {    
    padding-top: 2rem;
}

ol.table-of-contents {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content:  flex-start;    
}

ol.table-of-contents li {
    box-sizing: border-box;
    background-color: #f2f2f2;
    width: 100%;
    padding: 2rem;
    margin-bottom: 2rem;
}

@media (min-width: 760px) {
    ol.table-of-contents li {
        width: calc(50% - 1rem);
    }
} 

ol.table-of-contents li h2 {
    color: #00A0EA;
    font-size: 3rem;
    padding-bottom: 2rem;
}

ol.table-of-contents li p {
    font-size: 2rem;
}


ol.logos {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content:  flex-start;   
    
    padding-top: 1rem; 
}

ol.logos li {
    padding-right: 2rem;
    padding-bottom: 1rem;

    color: #ccc;
    font-size: 1.4rem;
    line-height: normal;

    overflow: hidden;
}

ol.logos li img {
    max-height: 2rem;
}

ol.logos li.nonlogo,
ol.logos li.porism {
    display: none;
}

@media screen and (min-width: 340px) {
    ol.logos li.porism {
        display: block;
    }
}

@media screen and (min-width: 700px) {
    ol.logos {
        padding-top: 2.3rem;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-content:  flex-end;   
    }

    ol.logos li {        
        padding-bottom: 0;
    }
    
    ol.logos li:first-child {        
        flex: auto;
    }
    
    ol.logos li img {
        max-height: 2.4rem;
    }
}

@media screen and (min-width: 800px) {
    ol.logos {
        padding-top: 2rem;
    }
    
    ol.logos li img {
        max-height: 3rem;
    }
}

@media screen and (min-width: 930px) {
    ol.logos li {
        line-height: 3rem;
    }

    ol.logos li.nonlogo {
        display: inherit;
    }
}


.wideOnly {
    display: none;
}

@media screen and (min-width: 440px) {
    .wideOnly {
        display: block;
    }
    .thinOnly {
        display: none;
    }
}