body > header, body > footer {
    width: 100%;
}

body > header {
    position: fixed;
    top: 0;
}

body > footer {
    display: none;

    position: fixed;
    bottom: 0;
}

body > header > .center,
body > footer > .center {
    min-width: 100%;
}

body .sidebar {
    top: 6rem;
}

.text-center {
    text-align: center;
}

.margin-center {
    margin: auto 0;
}

.half-left {
    float: left;
    width: 50%;
    padding-right: 1rem;
    padding-bottom: 1.6rem;
}

.half-right {
    float: right;
    width: 50%;    
}

img.half-right {
    padding-left: 2rem;
}

.text-justify {
    text-align: justify;
}

.clear-both {
    clear: both;
}

.markdown-section h1 {
    font-size: 4rem;
}

.markdown-section h2 {
    font-size: 3.26rem;
}

.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5,
.markdown-section h6 {
    margin-top: 9rem;
}


.markdown-section h1 a,
.markdown-section h2 a,
.markdown-section h3 a,
.markdown-section h4 a,
.markdown-section h5 a,
.markdown-section h6 a {
    padding-top: 1rem;
}

.markdown-section h1 + h2,
.markdown-section h2 + h3 {
    margin-top: 2rem;
}

/*
.markdown-section h1 + h2 a,
.markdown-section h2 + h3 a {
    padding-top: 2rem;
}

.markdown-section h1 a {
    margin-top: -1rem;
}*/

aside.sidebar h1 {
    display: none;
}

.sidebar-toggle {
    width: auto;
}

.markdown-section:last-child > footer {
    background-color: #333333;
    height: 7rem;
    overflow: hidden;

    position: relative;
    bottom: -11rem;
    left: -1.5rem;
    width: calc(100% + 1.5rem);
}

div.tip p:last-child,
div.warn p:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
}

.markdown-section p.tip {
    border-left-color: #FFC83D;
}

.markdown-section p.tip:before {
    background-color: #FFC83D;
    background-size: 1rem;
    left: -1.4rem;
    width: 2.4rem;
    height: 2.4rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

.markdown-section p.warn {
    background-color: #D6E6F3;
}

.markdown-section div.warn {
    background-color: #D6E6F3;
    border-radius: 2px;
    padding: 16px;
    padding: 1.5rem;
}

.markdown-section div.warn p:first-child {
    margin-top: 0;
}

.markdown-section div.warn {
    margin-top: 0;
}


.markdown-section div.tip,
.markdown-section p.warn,
.markdown-section div.warn {
    background-color: #f8f8f8;
}

.markdown-section div.tip,
.markdown-section p.warn,
.markdown-section div.warn {
    border-bottom-right-radius: 2px;
    border-left: 4px solid #FFC83D;
    border-top-right-radius: 2px;
    margin: 2em 0;
    padding: 12px 24px 12px 30px;
    position: relative;
}

.markdown-section div.tip p:first-child {
    margin-top: 0;
}

.markdown-section div.tip:before,
.markdown-section p.warn:before,
.markdown-section div.warn:before {
    background-color: #FFC83D;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 700;

    content: "!";
    
    border-radius: 100%;

    position: absolute;
    top: 1.4rem;
    left: -1.4rem;
    width: 2.4rem;
    height: 2.4rem;
}

.markdown-section p.tip:before,
.markdown-section div.tip:before,
.markdown-section p.warn:before,
.markdown-section div.warn:before {
    background-image: url('/images/cog.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1.6rem 1.6rem;
    content: " ";
    
    border-radius: 100%;

    position: absolute;
    top: 1rem;
    left: -1.6rem;
    width: 2.8rem;
    height: 2.8rem;
}

.markdown-section p.tip:before,
.markdown-section div.tip:before {
    background-image: url('/images/lightbulb.svg');
}

.markdown-section p.warn,
.markdown-section div.warn {
    border-bottom-right-radius: 2px;
    border-left: 4px solid #C6DEF9;
}

.markdown-section p.warn:before,
.markdown-section div.warn:before {
    background-color: #C6DEF9;
}

.footnotes {
    margin-top: 4rem;
    border-top: solid 1px rgb(238, 238, 238);
    padding-top: 2rem;
    font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
    .content {
        padding-top: 60px;
    }
}

ol.logos li.nonlogo {
    display: none;
}

@media screen and (min-height: 440px) {
    
    .markdown-section:last-child {
        padding-bottom: 12rem;
    }

    .markdown-section:last-child > footer {
        display: none;
    }

    body > footer {
        display: block;
    }
    
    body .sidebar {
        bottom: 10rem;
    }
    
    .sidebar-toggle {
        bottom: 10rem;
    }

    ol.logos li.nonlogo {
        display: inherit;
    }
}