.incentive-scheme {
    margin: 0;
    border: solid 1px #CBCBCB;
    border-radius: 1rem;
    padding: 1rem;

    display: flex;
    flex-direction: row;

    overflow: hidden;
    max-height: 86rem;

    background-color: white;
}

.incentive-scheme h3 {    
    font-size: 1.6rem;
}

.incentive-scheme,
.incentive-scheme p,
.incentive-scheme dl{
    font-size: 1.4rem;
    word-spacing: normal;
}

.incentive-scheme > section.process {
    width: 60%;
}

.incentive-scheme > section.notes {
    width: 40%;
}

.incentive-scheme dl {
    display: table;
}

.incentive-scheme h2 {
    border-bottom: solid 1px #ddd;
    margin-bottom: 1rem;
    margin-top: 0;
    line-height: normal;
}

.incentive-scheme dl > div {
    display: table-row;
}

.incentive-scheme dt,
.incentive-scheme dd {
    display: table-cell;
}

.incentive-scheme dt {
    padding-right: 2rem;
}

.incentive-scheme .accordion {
    border: solid 1px #666;
}

.incentive-scheme .accordion h3 {
    background-color: #80B416;
    font-weight: normal;
    padding: 1.6rem;
    margin: 0;
}

.incentive-scheme .accordion > section:first-child h3 {
    border-top: none;
}

.incentive-scheme .accordion h3:hover {
    cursor: pointer;
}

.incentive-scheme .accordion dt {
    min-width: 18rem;
}

.incentive-scheme .accordion dd {
    word-break: break-all;
}

.incentive-scheme .accordion a {
    font-weight: normal;
    text-decoration: underline;
}

.incentive-scheme .accordion > section > div {
    overflow-y: hidden;
    height: 0;
    transition: height 0.3s ease-in-out;
}

.incentive-scheme .accordion > section:not(:last-child) > div {
    border-bottom: solid 1px #666;
}

.incentive-scheme .accordion > section.selected > div {
    height: auto;
}

/*
.incentive-scheme .accordion > section:first-child.selected > div {
    height: 14.7rem;
}

.incentive-scheme .accordion > section:nth-child(2).selected > div {
    height: 4.5rem;
}

.incentive-scheme .accordion > section:nth-child(3).selected > div {
    height: 50.5rem;
}

.incentive-scheme .accordion > section:nth-child(4).selected > div {
    height: 11.3rem;
}

.incentive-scheme .accordion > section:nth-child(5).selected > div {
    height: 14.6rem;
}*/


.incentive-scheme .accordion dl,
.incentive-scheme .accordion p {
    margin: 1rem;
}

.incentive-scheme .accordion div:not(:last-child) dt,
.incentive-scheme .accordion div:not(:last-child) dd {
    padding-bottom: 1rem;
}

.incentive-scheme > section.notes {
    padding: 1rem;
    padding-left: 2rem;
}

.incentive-scheme > section.notes .details {
    padding: 1rem;
    background-color: #F0F0F0;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.incentive-scheme > section.notes .details dd {
    font-weight: bold;
}

.incentive-scheme > section.notes h3 {
    font-weight: normal;
    border-bottom: dotted 1px #c0c0c0;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.incentive-scheme > section.notes > section {
    margin-bottom: 4rem;
}

.incentive-scheme > section.notes p span.date {
    display: inline-block;
    padding-right: 2rem;
}
