body > header form {
    position: relative;
}

body > header form div.results-panel {
    display: none;
}

body > header form div.results-panel.show  {
    background-color: white;
    opacity: 0.96;
    
    overflow-y: auto;
    max-height: 26rem;

    border: solid 1px #ccc;

    display: block;
    position: absolute;
    top: 3.5rem;
    right: 0;

    z-index: 10;
}

body > header form div.results-panel .matching-post {
    border-bottom: solid 1px #eee;
}

body > header form div.results-panel .matching-post:last-child {
    border-bottom: none;
}

@media screen and (min-height: 640px) {
    body > header form div.results-panel.show  {
        max-height: 44rem;
    }
}

@media screen and (min-height: 768px) {
    body > header form div.results-panel.show  {
        max-height: 56rem;
    }
}

body > header form div.results-panel a,
body > header form div.results-panel p.empty {
    text-decoration: none;
    color: inherit;
    padding: 1rem;
    display: inline-block;
    
    width: 22rem;
}

@media screen and (min-width: 360px) {
    body > header form div.results-panel a {   
        width: 33rem;
    }
}

@media screen and (min-width: 568px) {
    body > header form div.results-panel a {   
        width: 54rem;
    }
}

@media screen and (min-width: 768px) {
    body > header form div.results-panel a {   
        width: 74rem;
    }
}

body > header form .matching-post:hover {
    background: #eee;
}

body > header form .matching-post:last-child {
    border: none;
}